@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Thin";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Montserrat/static/Montserrat-Thin.ttf") format("truetype");
}


@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Thin";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Poppins/Poppins-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Caveat";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Caveat/CaveatBrush-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Averia";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Averia/AveriaSerifLibre-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/PT_Sans/PTSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PT Sans - Bold";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/PT_Sans/PTSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Chocolate";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Chocolates/TT-Chocolates-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Chocolate - Medium";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Chocolates/TT-Chocolates-Medium.otf") format("opentype");
}


@font-face {
  font-family: "Chocolate - Bold";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Chocolates/TT-Chocolates-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Chocolate - Italic";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Chocolates/TT-Chocolates-Italic.otf") format("opentype");
}

:root {
  --app-primary: #412a7c;
  --app-primary-dark: #3b45bb;
  --app-primary-light: #543f89;
  --app-primary-contrast-text: #ffffff;

  --app-secondary: #707AE6;
  --app-secondary-dark: #454da7;
  --app-secondary-light: #a4b3ff;
  --app-secondary-contrast-text: #000000;

  --app-success: #84e1a9;
  --app-success-dark: #74c695;
  --app-success-light: #90e4b2;
  --app-success-contrast-text: #000000;

  --app-warning: #f8cf40;
  --app-warning-dark: #dab638;
  --app-warning-light: #f9d453;
  --app-warning-contrast-text: #000000;

  --app-error: #f28291;
  --app-error-dark: #d57280;
  --app-error-light: #f38f9c;
  --app-error-contrast-text: #000000;

  --app-light: #fffaf5;
  --app-light-dark: #898a8c;
  --app-light-light: #f5f6f9;
  --app-light-contrast-text: #000000;

  --app-dark: #222224;
  --app-dark-dark: #1e1e20;
  --app-dark-light: #38383a;
  --app-dark-contrast-text: #ffffff;
}

#root {
  width: 100vw;
  min-height: 100vh;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

.rbt-aux .btn-close {
  pointer-events: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-sidebar {
  z-index: 1046;
  transform: translateX(-300px);
  position: fixed;
  top: 0;
  transition: 0.3s ease-in;
}

#sidebar-backdrop {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1045;
  transform: translateX(100vw);
  background-color: rgba(0, 0, 0, 0.1);
}

.app-sidebar.active+#sidebar-backdrop {
  width: 100vw;
  transform: translateX(0);
  background-color: rgba(0, 0, 0, 0.3);
}

.app-sidebar.active {
  transform: translateX(0);
}

div:where(.swal2-container).swal2-backdrop-show,
div:where(.swal2-container).swal2-noanimation {
  background: rgba(0, 0, 0, 0.3) !important;
}

.testguy-custom-swal-alert {
  font-family: 'Poppins', sans-serif;
}

div:where(.testguy-custom-swal-alert) button:where(.swal2-styled).swal2-confirm {
  background-color: var(--app-secondary) !important;
  color: var(--app-dark) !important;
  font-size: 1.1em !important;
  font-weight: 600;
}

div:where(.testguy-custom-swal-alert) button:where(.swal2-styled).swal2-deny {
  color: var(--app-error) !important;
  background-color: transparent !important;
  font-size: 1.1em !important;
  font-weight: 600;
}

div:where(.testguy-custom-swal-alert) h2:where(.swal2-title) {
  font-size: 22px !important;
}

div:where(.swal2-container) div:where(.testguy-custom-swal-alert) div:where(.swal2-actions) {
  width: 100%;
  justify-content: flex-start !important;
  flex-direction: row-reverse !important;
  padding: 0 16px;
}

.rbt-input-multi.focus {
  border-color: var(--app-secondary);
  box-shadow: 0 0 0 0.2rem var(--app-secondary-light);
}

.rbt-token {
  color: var(--app-primary);
  background-color: var(--app-secondary-light);
}